/* :root {
  font-family: serif, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */



body {
  margin: 0;
  background-color: rgb(234, 222, 222);
  font-family: 'Inika', serif;
  color: rgb(120, 106, 106);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  max-width: 800px;
  width: 90%;
}

.title {
  background-color: rgb(1, 2, 3);
  color: rgba(249, 235, 235, 0.985);
  font-size: 2.5rem;
  font-weight: arial;
  padding: 30px 200px;
  margin-bottom: 2rem;
  border-radius: 8px;
  
}

.quote-box {
  background-color: rgb(109, 166, 206);
  color: black;
  padding: 30px;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-top:-80px;
}

.quote-box p {
  margin: 0;
}

.search-bar {
  background-color: white;
  color: black;
  border: none;
  padding: 14px;
  font-size: 1rem;
  font-family: 'Inika', serif;
  width: 350px;
  text-align: center;
  border-radius: 5px;
}